@font-face {
    font-family: "Pokemon";
    src: url(/src/fonts/Pokemon_GB.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: black;
}

#fondo {
    height: 676px;
    width: 1028px;
    position: relative;
    border-radius: 10px;
}

#fondo2 {
    height: 676px;
    width: 1028px;
    position: absolute;
    border-radius: 10px;
    background-color: black;
    animation-duration: 3s;
    opacity: 0%;
    z-index: 100;
}
#fondo2 {
    animation-name: desaparecer;
    /* transition: ease-in-out; */
    animation-play-state: paused;
}
